<mat-card>
    <mat-form-field appearance="outline" style="margin-right: 10px;">
      <mat-label>Medicine Name</mat-label>
      <input matInput [(ngModel)] = "newtitle">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-right: 10px;">
      <mat-label>Reviewer Name</mat-label>
      <input matInput [(ngModel)] = "newreviewer">
    </mat-form-field>
    <mat-form-field appearance="outline" style="margin-right: 10px;">
      <mat-label>Review</mat-label>
      <input matInput [(ngModel)] = "newreview">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Rating (X/5)</mat-label>
      <input matInput [(ngModel)] = "newscore" type = "number">
    </mat-form-field>
    <br />
    <button mat-raised-button color="primary" (click)="add()">Submit</button>
</mat-card>